@using ProjetoE_CommerceGameFesth.Models
@model IEnumerable<ProjetoE_CommerceGameFesth.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
    int count = 0;

}
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<style>
    body {
        font-family: 'Poppins', sans-serif;
        background-color: #f8f9fa; /* Light gray background for the page */
    }

    .search-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px
    }

        .search-container label {
            margin-right: 10px;
            font-weight: bold;
            color: #333;
            text-align: center;
        }

        .search-container .form-check-label {
            margin-right: 10px;
            cursor: pointer;
        }

        .search-container input[type="radio"] {
            margin-right: 5px;
        }

        .search-container select {
            padding: 10px;
            border-radius: 4px;
            border: 1px solid #ddd;
            margin-right: 10px;
            flex-grow: 1; /* Faz o select crescer para preencher o espaço disponível */
        }

    h4 {
        text-align: center;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 24px;
    }

    .button {
        text-align: center;
        margin-top: 20px;
    }

    .table-responsive {
        margin-top: 20px;
    }

    .table {
        background-color: #ffffff;
        border-radius: 10px;
        overflow: hidden;
        border-color: dodgerblue;
    }

        .table thead {
            background-color: dodgerblue;
            color: #ffffff;
            border-color: dodgerblue;
        }

        .table th,
        .table td {
            text-align: center;
            vertical-align: middle;
            border-color: dodgerblue;
        }

        .table tbody tr:hover {
            background-color: #f1f1f1;
        }

    h2 {
        text-align: center;
        color: #6c757d;
    }

</style>


<div class="button">
    <a class="btn btn-outline-dark" asp-action="Cadastrar">Clique aqui para Cadastrar</a>
</div>

<div class="search-container">
    @using (Html.BeginForm("Index", "Produto", FormMethod.Get))
    {
        <label>
            <input class="form-check-label" type="radio" name="por" value="Por Maior" checked>
            Cres
        </label>
        <label>
            <input class="form-check-label" type="radio" name="por" value="Por Menor">
            Descr
        </label>
        <select name="campo">
            <option value="Id">Id</option>
            <option value="Nome">Nome</option>
            <option value="Nascimento">Data de aniversario</option>
        </select>
        <button type="submit" class="btn btn-outline-primary">Pesquisar</button>
    }
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        @foreach (Produto produto in Model)
        {
            count++;
        }
        @if (count == 0)
        {

            <h2>Sem cadastros</h2>
        }
        else
        {
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Codbarras)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().NomeProduto)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Valor)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().QuantidadeEstoque)</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
        }

        <tbody>
            @foreach (Produto produto in Model)
            {
                <tr>
                    <th scope="row">@produto.Codbarras</th>
                    <td>@produto.NomeProduto</td>
                    <td>@produto.Valor</td>
                    <td>@produto.QuantidadeEstoque</td>
                    @* <td>@produto.Valor1</td> *@
                    <td>
                        <a class="btn btn-outline-primary" asp-route-id="@produto.Codbarras" asp-area="Funcionario" asp-controller="Produto" asp-action="DetalhesProd">Detalhes</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
