@using ProjetoE_CommerceGameFesth.Models
@model IEnumerable<ProjetoE_CommerceGameFesth.Models.Produto>
@{
    ViewData["Title"] = "Produtos";
    int count = 0;

}


<h1>Produtos</h1>
<a class="btn btn-primary" asp-action="Cadastrar">Cadastrar</a>
<div>


    <div class="col-lg-3 col-md-6 mb-4" style="margin:2% 4%">

        @using (Html.BeginForm("Index", "produto", FormMethod.Get, new { id = "pesquisar" }))
        {
            <div>
                <input type="text" id="pesquisa" name="pesquisa" value="@ViewBag.Pesquisa"  ><span>Pesquisa</span>
            </div>

            <input class="form-check-label" type="radio" name="por" value="Por Maior" checked @(ViewBag.Por == "Por Maior" ? "checked" : "")>
            <span class="form-check-label">Cres</span>
            <input class="form-check-label" type="radio" name="por" value="Por Menor" @(ViewBag.Por == "Por Menor" ? "checked" : "")>
            <span class="form-check-label">Descr</span>
            <select name="campo">
                <option value="Nome" >Nome</option>
                <option value="Valor" >Valor</option>
                <option value="CodBarras">Codigo de Barras</option>
            </select>



            <button type="submit" class="btn btn-primary">Pesquisar</button>
            <script>
                // Utiliza jQuery para detectar mudanças no campo de pesquisa e submeter o formulário
                $(document).ready(function () {
                    $('#pesquisa').on('input', function () {
                        $('#pesquisar').submit(); // Envio automático do formulário quando o texto muda
                    });
                });
            </script>
        }


    </div>

</div>
<div class="table-responsive">
    <table class="table table-bordered">
        @foreach (Produto produto in Model)
        {
            count++;
        }
        @if (count == 0)
        {
            <br />
            <h2>Sem cadastros</h2>
        }
        else
        {
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Codbarras)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().NomeProduto)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Valor)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().QuantidadeEstoque)</th>

                    <th scope="col">Ações</th>
                </tr>
            </thead>
        }

        <tbody>
            @foreach (Produto produto in Model)
            {
                <tr>
                    <th scope="row">@produto.Codbarras</th>
                    <td>@produto.NomeProduto</td>

                    <td>@produto.Valor</td>
                    <td>@produto.QuantidadeEstoque</td>
                    @* <td>@produto.Valor1</td> *@



                    <td>
                        <a class="btn btn-primary" asp-route-id="@produto.Codbarras" asp-area="Funcionario" asp-controller="Produto" asp-action="DetalhesProd">Detalhes</a>

                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

