@{
    ViewData["Title"] = "PainelCliente";
}

<h1>PainelCliente</h1>

<p>Informações de usuario</p>
<p>Você é um cliente da loja</p>

Seja bem vindo, <span>@ViewBag.Nome</span>

<p>E-mail: @ViewBag.Email</p>
<p>Nascimento @ViewBag.Nascimento</p>
<p>Sexo: @ViewBag.Sexo</p>
<p>Telefone: @ViewBag.Telefone</p>
<br/>