@using ProjetoE_CommerceGameFesth.Models
@model IEnumerable<ProjetoE_CommerceGameFesth.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
    int cont = 0;
}

<h1>Clientes</h1>
<div>

    <a class="btn btn-info" asp-action="Desativados">Clientes desativados</a>
</div>
<div class="col-lg-3 col-md-6 mb-4" style="margin:2% 4%">
    @using (Html.BeginForm("Index", "Cliente", FormMethod.Get))
    {
        <input class="form-check-label" type="radio" name="por" value="Por Maior" checked>
        <span class="form-check-label">Cres</span>
        <input class="form-check-label" type="radio" name="por" value="Por Menor">
        <span class="form-check-label">Descr</span>
        <select name="campo">
            <option value="Id">Id</option>
            <option value="Nome">Nome</option>
            <option value="Nascimento">Data de aniversario</option>
        </select>

        <button type="submit" class="btn btn-primary">Pesquisar</button>
    }
</div>
<div class="table-responsive">
    <table class="table table-bordered">
        @foreach (Cliente cliente in Model)
        {
            @if (@cliente.Situacao == "A")
            {
                cont++;
            }
        }
        @if (ViewBag.Cliente == "V" || cont == 0)
        {
            <br />
            <h2>Sem cadastros</h2>
        }
        else
        {

            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().IdCliente)</th>

                    <th scope="col">@Html.DisplayNameFor(model => model.First().NomeCliente)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Nascimento)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Sexo)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Telefone)</th>
                    @* <th scope="col">@Html.DisplayNameFor(model => model.First().Situacao)</th> *@

                    <th scope="col">Ações</th>
                </tr>
            </thead>
        }

        <tbody>
            @foreach (Cliente cliente in Model)
            {
                @if (@cliente.Situacao == "A")
                {
                    <tr>
                        <th scope="row">@cliente.IdCliente</th>
                        <td>@cliente.NomeCliente</td>
                        <td>@cliente.Nascimento.ToString("yyyy/MM/dd")</td>
                        <td>@cliente.Sexo</td>
                        <td>@cliente.Telefone</td>


                        <td>
                            <a class="btn btn-primary" asp-route-id="@cliente.IdCliente" asp-area="Funcionario" asp-controller="Cliente" asp-action="DetalhesCli">Detalhes</a>
                        </td>
                        @*                     <td>
                @if (cliente.Situacao == "A")
                {
                <a class="btn btn-danger" asp-route-id="@cliente.IdCliente" asp-action="Desativar" new { id=cliente.Id },
                new { onclick="return confirm('Deseja realmente desativar?')" }>Desativar</a>

                }
                else if (cliente.Situacao == "D")
                {
                <a class="btn btn-primary" asp-route-id="@cliente.IdCliente" asp-action="Ativar" new { id=cliente.Id },
                new { onclick="return confirm('Deseja realmente ativar?')" }>Ativar</a>

                }
                </td> *@

                    </tr>
                }

            }
        </tbody>
    </table>
</div>
