@using ProjetoE_CommerceGameFesth.Models
@model IEnumerable<ProjetoE_CommerceGameFesth.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Clientes</h1>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.First().IdCliente)</th>

                <th scope="col">@Html.DisplayNameFor(model => model.First().NomeCliente)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().Nascimento)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().Sexo)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().Telefone)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().Email)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().Senha)</th>
                @* <th scope="col">@Html.DisplayNameFor(model => model.First().Situacao)</th> *@

                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Cliente cliente in Model)
            {
                <tr>
                    <th scope="row">@cliente.IdCliente</th>
                    <td>@cliente.NomeCliente</td>
                    <td>@cliente.Nascimento.ToString("yyyy/MM/dd")</td>
                    <td>@cliente.Sexo</td>
                    <td>@cliente.Telefone</td>
                    <td>@cliente.Email</td>
                    <td>@cliente.Senha</td>


                    <td>
                        <a class="btn btn-primary" asp-route-id="@cliente.IdCliente" asp-area="Funcionario" asp-controller="Cliente" asp-action="DetalhesCli">Detalhes</a>
                    </td>
@*                     <td>
                        @if (cliente.Situacao == "A")
                        {
                            <a class="btn btn-danger" asp-route-id="@cliente.IdCliente" asp-action="Desativar" new { id=cliente.Id },
                               new { onclick="return confirm('Deseja realmente desativar?')" }>Desativar</a>
                            
                        }
                        else if (cliente.Situacao == "D")
                        {
                            <a class="btn btn-primary" asp-route-id="@cliente.IdCliente" asp-action="Ativar" new { id=cliente.Id },
                               new { onclick="return confirm('Deseja realmente ativar?')" }>Ativar</a>
                            
                        }
                    </td> *@

                </tr>
            }
        </tbody>
    </table>
</div>
